<!--  ./views/index.handlebars -->
<div class="container py-5">
  <div class="row justify-content-center" style="color:white">
    <h1>你想對誰說幹話?</h1>
  </div>
  <form action="/" method="POST">
    <div class="row">
      {{#each professions}}
      <div class="col-sm-4">
        <div class="card h-100">
          <div class="img-wrapper">
            <img src=" {{this.image}}" class="card-img-top" alt="{{this.title_en}}">
          </div>
          <div class="card-body d-flex flex-column justify-content-center">
            <div class="form-check pl-0 text-center">
              <input class="form-check-input" type="radio" name="professions" id="{{this.title_en}}"
                value="{{this.title_en}}" {{if_equal this.title_en ../options}}>
              <label class="form-check-label" for="{{this.title_en}}">
                {{this.title}} </label>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="result-wrapper mt-5 d-flex flex-wrap">
      <div class="btn-wrapper mt-1">
        <button type="submit" class="btn btn-primary mr-4">產生幹話</button>
      </div>
      <div id="trash-talk" class="flex-grow-1 mt-1 d-flex"><span>{{trashTalk}}</span></div>
    </div>
  </form>
</div>